body {
background-color: black;
color: white;
font-family: helvetica;
margin: 0;
}
noscript {
font-size: 25px;
font-weight: bold;
text-align: center;
color: #ff3333;
display: block;
text-align: center;
}
#wrapper {
width: 720px;
margin: 0 auto;
background-image: url('/images/background.jpg');
color: black;
}
#header {
margin-bottom: 20px;
}
#header p {
text-align:center;
font-weight:bold;
font-size: 1.2em;
padding: 0 40px;
}
#header p .details {
font-size: 0.8em;
color: #222222;
}
#content, #post-content {
padding: 0 40px;
line-height: 130%;
}
#content ol#demands li {
background-color: #ffffff;
margin: 0 0 .2em 0;
padding: .4em;
}
#content ol#demands li .details {
font-size: 0.8em;
color: #222222;
}
#lookup-form {
margin-bottom: 20px;
}
#zip-wrapper {
position: relative;
display: inline-block;
}
label#zip-label {
position: absolute;
top: 0px;
right: 5px;
font-size: 10px;
color: #666666;
display: none;
}
input#zip {
font-size: 25px;
width: 140px;
padding: 10px;
border: 0;
text-align: left;
color: #000000;
font-weight: bold;
display: inline-block;
vertical-align: middle;
}
input#zip.empty {
color: #666666;
font-weight: normal;
}
input#lookup {
color: #ffffff;
font-weight: bold;
font-size: 20px;
margin-left: 20px;
cursor: pointer;
display: inline-block;
width: 166px;
height: 39px;
background-image: url('/images/lookup.jpg');
background-color: #d6312b;
border: 0;
vertical-align: middle;
}
#lookup-links {
display: inline-block;
width: 230px;
margin-left: 20px;
vertical-align: middle;
text-align: left;
}
#lookup-links p {
margin: 0;
}
#lookup-loading {
color: #FFFFFF;
background-color: #000000;
font-weight: bold;
border: 1px solid #333333;
border-radius: 3px;
padding: 5px 10px;
margin: 10px;
font-size: 18px;
text-align: center;
display: none;
}
#lookup-loading img {
vertical-align: middle;
}
#twitter-badge {
width: 230px;
position: fixed;
top: 10px;
right: 10px;
}
#twitter-badge iframe {
width: 230px;
height: 500px;
border: 0;
margin: 0;
overflow: hidden;
}
#twitter-opt-in {
cursor: pointer;
}
#twitter-opt-in-show {
font-weight: bold;
font-size: 20px;
text-align: center;
padding: 5px 0 10px 0 !important;
}
#twitter-opt-in-details {
font-size: 14px;
text-align: center;
padding: 0 0 5px 0 !important;
line-height: 150% !important;
}
#logos {
width: 230px;
position: absolute;
top: 10px;
left: 10px;
}
#logos img {
display: block;
margin-bottom: 5px;
}
a {
color: #3f3b39;
cursor: pointer;
text-decoration: underline;
}
.centered {
text-align: center;
}
.cleared {
clear:both;
}
.hidden {
display: none;
}
#tweet-body-wrapper {
position: relative;
display: inline-block;
width: 610px;
margin-bottom: 20px;
text-align: left;
}
#tweet-body-wrapper p {
margin: 0;
}
#tweet-body {
width: 500px;
padding: 8px;
background-color: #ffffff;
color: #333333;
border: 1px solid #999999;
font-family: helvetica;
font-weight: bold;
}
#step-tweet {
display: none;
}
#step-tweet #tweet-instead, #step-tweet #tweet-no-zip {
color: #661111;
font-weight: bold;
font-style: italic;
display: none;
}
#step-tweet .rep-name {
margin: 0;
}
#step-tweet #tweet-title {
color: #000000;
font-weight: bold;
font-size: 1.5em;
text-align: center;
margin-bottom: 20px;
}
#tweet-links {
margin-top: 5px;
}
#tweet-links a {
font-size: 12px;
margin-right: 10px;
vertical-align: middle;
}
#suggest-a-tweet {
color: #ffffff;
text-align: center;
font-weight: bold;
font-size: 16px;
margin-right: 10px;
cursor: pointer;
display: inline-block;
width: 250px;
height: 29px;
background-image: url("/images/suggest.jpg");
background-color: #d6312b;
border: 0;
vertical-align: middle;
}


form.tweet {
position: relative;
text-align: left;
margin-bottom: 15px;
border: 1px solid #999999;
background-color: #f0f0f0;
padding: 3px 10px;
width: 610px;
display: inline-block;
}
form.tweet.hover {
cursor: pointer;
background-color: #ffffff;
}
form.tweet .twitter-status {
width: 500px;
color: #333333;
font-family: helvetica;
display: inline-block;
vertical-align: middle;
margin: 0;
padding: 0;
}
form.tweet .twitter-status strong {
color: #000000;
}
form.tweet .twitter-tweet {
text-shadow: 0pt 1px 0pt #ffffff;
padding: 3px 6px 3px 22px;
display: inline-block;
margin: 0 0 0 10px;
color: #333333;
font-size: 16px;
width: 100px;
text-align: center;
font-family: "Helvetica Neue",Arial,sans-serif;
font-weight: bold;
background-image: url('/images/b2_btn_icon.gif');
background-position: 3px center;
background-repeat: no-repeat;
border: 1px solid #333333;
cursor: pointer;
}
span.counter {
display: inline-block;
margin-left: 10px;
font-weight: bold;
font-size: 20px;
color: #000000;
text-shadow: 1pt 1px 0pt #938277;
}
span.counter.exceeded {
color: #ff6666;
}
input#done {
color: #ffffff;
font-weight: bold;
font-size: 20px;
margin-left: 20px;
cursor: pointer;
display: inline-block;
width: 350px;
height: 39px;
background-image: url('/images/done.jpg');
background-color: #d6312b;
border: 0;
vertical-align: middle;
}
#video {
text-align: center;
padding: 2em 0;
}
