body {
background-color: #d5b9a8;
background-image: url('/images/background.jpg');
}
#wrapper {
height: 570px;
background-image: none;
}
#eff {
position: absolute;
right: 3px;
bottom: 3px;
font-size: 11px;
text-align: right;
}
